/* nytstyle.css */

* {
  box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;

}

#watchers-table {
  width: 100%;
  font-size: 80%;
}

#line {
    background-color: lightgray;
    width: 100%;
    font-size: 150%;
    border: 2px solid gray;
    padding: 8px;
    margin: 2px;
    color:#323232;
    border-radius: 10px;
    text-align: center;
    text-shadow: 1px 1px white;
  }

.nav-style:hover {
    background-color: gray;
  }
  
  .custom-captcha {
    width: 200px !important;
    height: 200px !important;
  }

  .custom-remove {
    margin-left: 5px;
    font-weight: bold;
    padding: 0px 2px 2px 2px;
    color: gray;
    background: #ffbb33;
    line-height: 0.9;
  }

  .custom-remove:hover {
    color: black;
    background: #996b0e;

  }

  .ticker-paragraph {
    font-family: 'Fira Sans', sans-serif;
  }

  .lead {
    font-weight: bold;
    text-shadow: 3px 2px #ffbb33;
    font-size: 30px;
  }

/* --------------------------------------------------------------------- */
/* Breakpoints between 576 and 837pixels */
@media only screen and (min-width: 576px) and (max-width: 672px) {

  #watchers-table {
    font-size: 47%;
  }
}

@media only screen and (min-width: 673px) and (max-width: 837px) {

  #watchers-table {
    font-size: 60%;
  }

}
